<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="container"><!--Поставить в центр страницы, использовать css-->
            <form>
                <label>Login:</label><br/>
                <input type="text" name="Login" id="Login"><br/>
                <label>Password:</label><br/>
                <input type="password" name="password" id="password"><br/>
                <a href="">Forgot password?</a><br/>
                <input type="submit" value="Enter" id="Enter"><!--Одинаковый размер с Register-->
                <input type="submit" value="Register" id="Register">
            </form>    
        </div>
    </body>
</html>