<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form><!--Сместить label в левую часть, а input в правую на равное расстояние-->
            <label>Login:</label>
            <input type = "text" name = "Login" id = "Login">
            <br/>
            <label>Password:</label>
            <input type = "password" name = "Pass" id = "Pass">
            <br/>
            <label>Confirm password:</label>
            <input type = "password" name = "ConfPass" id = "ConfPass">
            <br/>
            <label>E-mail</label>        
            <input type = "email" name = "email" id ="email">
            <br/>
            <label>Name</label>
            <input type = "text" name = "Name" id = "Name">
            <br/>
            <label>Second name:</label>
            <input type = "text" name = "SecName" id = "SecName">
            <br/>
            <label>Middle name:</label>
            <input type = "text" name = "MidName" id ="MidName">
            <br/>
            <label>Date of birth:</label>        
            <input type = "date" name = "Birthday" id ="Birthday">
            <br/>
            <input type="submit" value="Register" name="Register" id="Register">
        </form>
    </body>
</html>